@import 'tailwindcss';
@config "../../tailwind.config.ts";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--sidebar-width: 15rem;
}

body {
	@apply text-white bg-bg text-base;
}

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type='search']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

@layer utilities {
	.grid-4-cols {
		@apply grid grid-cols-4 gap-6;
	}
}
